.pokemon-empty-slot-container{
  min-width:5rem;
  max-width:5rem;
  //background:rgba(150,150,150,0.6)
}
.pokemon-empty-slot-img{
  min-width:5rem;
  max-width:5rem;
  height:3rem;
  object-fit:contain;
  object-position:center;
}
